
<!-- INTRO ---------------------------------------------------- -->
<div class="docScroller">
  <div id="intro">

      <h1 id="loadingH1">
        <span><i class="fa fa-cogs"></i></span>
        RUNNING IDENTITY PROTOCOL
        <span id="loading">.</span>
      </h1>

      <h3 id="loadingMessage2">
          LOADING RESUME
          <span id="alpha-loading">.</span>
      </h3>

      <div class="content">

        <p id="greeting" class="intro-text"></p>
        <div id="underline"></div>
        <p id="message" class="intro-text"></p>

        <a class="scroll-down" id="scroll"></a>

      </div>

  </div>

<!--   WORK ------------------------------------------------------ -->


  <div id="work">

    <div id="titre_work">
      <p>WORK EXPERIENCE.</p>
    </div>

      <div class="description banque1">
        <p class="test">
          <span>Strategy Analyst, </span>
          Using creativity and technology to create new business opportuniy.
          <span class="titre"> National Bank</span>
        </p>
      </div>

      <div class="description impact">
        <p>
          <span>Partnership, </span>
          Managing the organisation partnership portfolio and deepening the relationship on and off the field with fans and partners.
          <span class="titre"> Montreal Impact</span>
        </p>
      </div>

      <div class="description wagon">
        <p>
          <span>Teacher, </span>
          Teaching basic programming skills.
          <span class="titre"> Le Wagon</span>
        </p>
      </div>

    </div>

<!--   EXPERIENCE --------------------------------------------------- -->

  <div id="experience">

  </div>

  </div>

</div>





<% content_for(:after_js) do %>
  <%= javascript_tag do %>

  var underline = document.getElementById("underline");
  var scroll = document.getElementById("scroll");

  underline.style.opacity = 0;
  scroll.style.opacity = 0;


   var initDot = document.getElementById("loading");
   var loading = setInterval(function() {
       if(initDot.innerHTML.length == 5) {
           initDot.innerHTML = "";
       } else {
           initDot.innerHTML += ".";
       }
   }, 350); // Dot Speed

   var $loadingMessage = $('#loadingH1');

   setTimeout(function() {
         clearInterval(loading);
         $loadingMessage.hide();
      }, 1700);

   var initProgram = setTimeout(function(){
       var greeting = "Salim Chorfi";
       var message = "Salimchorfi@gmail.com";
       var $name = "Salim Chorfi";

      function initIdentityResults(i){
          $("#message").addClass("sign cursor").text(message.substring(0, i));
            if(i < message.length){
                setTimeout(function(){
                    initIdentityResults(i + 1);
                }, 65);

            }else{
               $('#message').removeClass("cursor");
               underline.style.opacity = 1;
               scroll.style.opacity = 1;

               setTimeout(loadingResume, 1000);
               function initName(i){
                  $("#name").addClass("sign cursor").text($name.substring(0, i));
                     if(i < $name.length){
                        setTimeout(function(){
                           initName(i + 1);
                        }, 35);
                     }else{
                        $("#name").removeClass("cursor");
                        setTimeout(function() {
                           initAlias(0);
                        }, 1500);
                     }
               }
               setTimeout(function() {
                  initName(0);
               }, 2500);
            }

         }

      function initProgramAlpha(i){
          $("#greeting").addClass("cursor").text(greeting.substring(0, i));
            if(i < greeting.length){
                setTimeout(function(){
                    initProgramAlpha(i + 1);
                }, 65);
            }else{
               $("#greeting").removeClass("cursor");
               initIdentityResults(0);
            }
         }
         initProgramAlpha(0)

   }, 2200);

initProgram()




  <% end %>
<% end %>




