
// PHONES ------------------------------------------------------------------

@media only screen and (max-device-width : 600px) {

  body,
  html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Lucida Sans Typewriter;
    background: rgb(255, 255, 255);
  }

  h1 {
    font-size: 24px;
    margin: 10px 0 0 0;
    font-weight: lighter;
    text-transform: uppercase;
    color: #2f3336;
    animation: pulse .9s infinite;
  }


  @keyframes float {
    0% {
      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
      transform: translatey(0px);
    }
    50% {
      box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
      transform: translatey(-20px);
    }
    100% {
      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
      transform: translatey(0px);
    }
  }

  #intro {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #work {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
  }

  .avatar {
    width: 500px;
    height: 500px;
    box-sizing: border-box;
    border: 5px #4b4b4b solid;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
    // animation: float 6s ease-in-out infinite;
    img { width: 100%; height: auto; }
    margin-bottom: 30px;
    position: absolute;
    top: 240px;
  }

  .intro-text {
    font-size: 30px;
  }

  .position {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #4b4b4b;
    position: absolute;
    opacity:1;
    transition: opacity .2s ease-in;
  }

  .first {
    top: 50%;
    right: 30px;
  }

  .second {
    top: 60%;
    right: 30px;
  }

  .third {
    top: 70%;
    right: 30px;
  }

  .content {
    width: 100%;
    max-width: 600px;
    padding: 20px 40px;
    box-sizing: border-box;
    text-align: center;
  }

  #titre_intro {
    color: white;
  }

  #identity-results, #resume, #loading-alpha-div, #loadingH1, #loadingMessage2, #message{
     margin-top: 20px;
     animation: pulse .9s infinite;
  }


  i{
     animation: pulse .9s infinite;
  }

  .cursor:after {
    content:"_";
    opacity: 0;
    animation: cursor 1s infinite;
  }

  #loading-alpha-div, .img-div{
     display: none;
  }

  img{
     animation: pulse .9s infinite;
  }

  #loadingMessage2 {
    position: absolute;
    top: 80px;
    display: none;
    font-size: 40px;
    font-weight: bold;
  }

  #loadingH1 {
    font-size: 40px;
    font-weight: bold;
    z-index: 1;
  }

}

// TABLETS ------------------------------------------------------------------

@media only screen and (min-device-width : 600px) and (max-device-width : 900px) {





}

// DESKTOPS ------------------------------------------------------------------

@media only screen and (min-device-width : 900px) {


  .docScroller {
    overflow-x: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    scroll-snap-points-y: repeat(100%);
    scroll-snap-type: mandatory;
    scroll-snap-destination: 100% 0%;
  }

  body,
  html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Lucida Sans Typewriter;
    background: rgb(255, 255, 255);
  }

  h1 {
    font-size: 24px;
    margin: 10px 0 0 0;
    font-weight: lighter;
    text-transform: uppercase;
    color: #2f3336;
    animation: pulse .9s infinite;
  }


  @keyframes float {
    0% {
      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
      transform: translatey(0px);
    }
    50% {
      box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
      transform: translatey(-20px);
    }
    100% {
      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
      transform: translatey(0px);
    }
  }

  #intro {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: image-url("Salimchorfi.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: #16222A;
      background: -webkit-linear-gradient(to left, #3A6073, #16222A);
      background: linear-gradient(to left, #3A6073, #16222A);
      opacity: 0.8;
    }
  }

  #loadingH1 {
    z-index: 1;
    font-weight: bold;
    font-size: 2em;
    color: white;
  }

  #underline {
    position: absolute;
    height: 1px;
    width: 178px;
    background-color: white;
    opacity: 1;
  }

  #work {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #211f20;
    position: relative;
  }

  .content {
    left: 30px;
    top : 50px;
    height: 100%;
    padding: 20px 40px;
    box-sizing: border-box;
    text-align: left;
    position: absolute;
    color: white;
  }

  #greeting {
    font-size: 1.5em;
    font-weight: bold;
  }


  #identity-results, #resume, #loading-alpha-div, #loadingH1, #loadingMessage2, #message{
     margin-top: 20px;
     animation: pulse .9s infinite;
  }


  i{
     animation: pulse .9s infinite;
  }

  .cursor:after {
    content:"_";
    opacity: 0;
    animation: cursor 1s infinite;
  }

  #loading-alpha-div, .img-div{
     display: none;
  }

  img{
     animation: pulse .9s infinite;
  }

  #loadingMessage2{
     display: none;
  }

  #loadingMessage2 {
    position: absolute;
    top: 50px;
  }

  #titre_work {
    color: white;
    font-weight: bold;
    position: absolute;
    left: 60px;
    top: 70px;
    font-size: 1em;
  }

  #annee1 {
    color: #cd341a;
    position: absolute;
    font-size: 7em;
    font-weight: bold;
    top: 100px;
    left: 200px;
  }

  .description {
    font-size: 1em;
    display: inline-block;
    color: #e7e7e6;
    position: absolute;
    left: 30%;
    width: 30%;
    span {
      font-weight: bold;
      font-size: 1.3em;
      color: white;
    }
  }

  .titre {
    color: #cd341a !important;
    font-size: 0.9em !important;
  }

  .banque1 {
    top: 20%;
  }

  .impact {
    top: 40%;
  }

  .wagon {
    top: 65%;
  }

  #scroll {
    opacity: 1;
  }

  .scroll-down {
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
  }

  .scroll-down {
    position: absolute;
    bottom: 60px;
    display: block;
    width: 32px;
    height: 32px;
    border: 2px solid #FFF;
    background-size: 14px auto;
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
  }

  .scroll-down:before {
      position: absolute;
      top: calc(50% - 8px);
      left: calc(50% - 6px);
      transform: rotate(-45deg);
      display: block;
      width: 12px;
      height: 12px;
      content: "";
      border: 2px solid white;
      border-width: 0px 0 2px 2px;
  }

  .test {
    position: absolute;
    &:before {
      content: '[';
      left: -60px;
    }

    &:after {
      content: ']';
      position: absolute;
      right: -50px;
    }

    &:after, &:before {
      position: absolute;
      top: 0;

      color: #16a085;
      font-size: 110px;
      line-height: 53px;
      font-weight: lighter;

      -webkit-animation-name: opacity;
      -webkit-animation-duration: 2s;
      -webkit-animation-iteration-count: infinite;
      animation-name: opacity;
      animation-duration: 2s;
      animation-iteration-count: infinite;
    }


  }

  @-webkit-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:0.4;}
}


  @keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      transform: translateY(-10px);
    }
    60% {
      -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
      transform: translateY(-5px);
    }
  }

  #experience {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #e7e4e6;
    position: relative;
  }

}















